= partial('topbar')
.container-fluid{:id =>"main" }
  #links.sidebar
    .well
      %h3 Drop links into toolboxes
      %ul
        %li{:class=>"link"} 
          %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
          %a{:class => "link-title"} 29 Kickass Portfolio Designs
          .btns
            %a{:href=>"#", :class=>"move btn"} move
            %a{:href=>"#", :class=>"copy btn"} copy
        %li{:class=>"link"} 
          %img{:src => "http://placekitten.com/g/60/60", :class=>"thumb"}
          %a{:class => "link-title"} Scribble & Tweak
          .btns
            %a{:href=>"#", :class=>"move btn"} move
            %a{:href=>"#", :class=>"copy btn"} copy          
        %li{:class=>"link"} 
          %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
          %a{:class => "link-title"} 29 Kickass Portfolio Designs
          .btns
            %a{:href=>"#", :class=>"move btn"} move
            %a{:href=>"#", :class=>"copy btn"} copy
        %li{:class=>"link"} 
          %img{:src => "http://placekitten.com/g/60/60", :class=>"thumb"}
          %a{:class => "link-title"} Scribble & Tweak
          .btns
            %a{:href=>"#", :class=>"move btn"} move
            %a{:href=>"#", :class=>"copy btn"} copy
  #container.content
    .span5.toolbox.blue
      .top
        .handle
      %h2 Webdesign
      %ul{:class=>"trays"}
        %li
          %a{:href=>"tray.html"} Textures
        %li
          %a{:href=>"#"} Patterns
        %li
          %a{:href=>"#"} Stock Images
  
    .span5.toolbox.red
      .top
        .handle
      %h2 Programming
      %ul{:class=>"trays"}
        %li 
          %a{:href=>"#"} Ruby
        %li
          %a{:href=>"#"} Rails
        %li 
          %a{:href=>"#"} Git
        %li 
          %a{:href=>"#"} Javascript
        %li
          %a{:href=>"#"} IOS
    .span5.toolbox.orange
      .top
        .handle
      %h2 UX
      %ul{:class=>"trays"}
        %li 
          %a{:href=>"#"} Articles
        %li
          %a{:href=>"#"} Inspiration
    .span5.toolbox.green
      .top
        .handle
      %h2 UI
      %ul{:class=>"trays"}
        %li 
          %a{:href=>"#"} Articles
        %li
          %a{:href=>"#"} Inspiration
        %li
          %a{:href=>"#"} Mobile
    .span5.toolbox.yellow
      .top
        .handle
      %h2 UI
      %ul{:class=>"trays"}
        %li 
          %a{:href=>"#"} Articles
        %li
          %a{:href=>"#"} Inspiration
        %li
          %a{:href=>"#"} Mobile       
    .span5.toolbox.green
      .top
        .handle
      %h2 UI
      %ul{:class=>"trays"}
        %li 
          %a{:href=>"#"} Articles
        %li
          %a{:href=>"#"} Inspiration
        %li
          %a{:href=>"#"} Mobile
