= partial('topbar')
.container-fluid{:id =>"main" }
  %h2 
    %span.toolbox-title Web Design:
    Textures
  %ul.items
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}

    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      
    %li 
      %img{:src => "http://placekitten.com/60/60", :class=>"thumb"}
      %a{:class => "link-title"} 29 Kickass Portfolio Designs
      .btns
        %a{:class => "copy"}
          %img{:src => "images/copy.png"}
        %a{:class => "trash"}
          %img{:src => "images/trash.gif"}
      